#navigate{
    background-color: black;
    color: white;
    padding-bottom: 0%;
}
#main{
    width: 100%;
    padding-left: 2%;
    margin-left: 0%;
    background-color: rgb(126, 126, 126);
    color: white;
    padding-bottom: 100%;
    padding-top: 0%;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#link {
    color: white;
}

#authimg {
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#description {
    padding-left: 8%;
    padding-right: 10%;
    text-align: center;
}

#title {
    text-align: center;
}

#navi {
    margin-left: 1%;
}
#title {
    margin-right: 1%;
}
#c1{
    width: 15%;
    display: inline-block;
    margin-left: 20%;
    margin-top: 2%;
    text-align: center;
}

#c2{
    width: 15%;
    display: inline-block;
    margin-left: 20%;
    margin-top: 2%;
    text-align: center;
}
#error{
    color: red;
    display: inline-block;
    margin-left: 1%;
}